/***********Formulario de Inicio de Sesión***********/

.login{
	width: 100%;
	height: 100%;
	margin-bottom: 333px;
	margin-top: 100px;
}

.filaLogin{
	width: 80%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	border: 2px solid #1C1C1C;
}

/*Responsive de la fila del contenido Login*/
@media screen and (max-width: 800px) {
	.filaLogin{
		width: 100%;
		margin-left: 0px;
		margin-right: 0px;
	}
	.login{
		margin-bottom: 80px;
	}
}


.contenidoLogin{
	width: 100%;
	height: 100%;
	background-color: #EFEFEF;
}

/*******Título del formulario*******/
.contenidoLogin h3{
	padding-top: 60px;
	text-align: center;
}

/*Responsive del contenido Login*/
@media screen and (max-width: 800px) {
	.contenidoLogin h3{
		padding-top: 40px;
		text-align: center;
	}
}

/*******Campos del formulario login********/
.formularioLogin{
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
}

@media screen and (max-width: 800px) {
	.formularioLogin{
		margin-top: 20px;
	}
}


/*Campo correo electrónico*/
.correo{
	margin-right: 20px;
	margin-bottom: 3px;
	font-family: 'Verdana';
	font-size: 16px;
	font-weight: bold;
}

.txtCorreo{
	width: 100%;
	font-family: 'Verdana';
	font-size: 16px;
}


/*Responsive del correo*/
@media screen and (max-width: 800px) {
	.formularioLogin{
		margin-left: 0px;
		margin-right: 0px;
		margin-top: 15px;
		width: 100%;
	}
	.correo{
		margin-bottom: 5px;
		font-family: 'Verdana';
		font-size: 12px;
		font-weight: bold;
	}
	.txtCorreo{
		width: 100%;
		font-family: 'Verdana';
		font-size: 12px;
	}
}


/*Campo contraseña*/
.contraseña{
	margin-right: 20px;
	margin-bottom: 3px;
	font-family: 'Verdana';
	font-size: 16px;
	font-weight: bold;
	margin-top: 10px;
}

.txtContraseña{
	width: 100%;
	font-family: 'Verdana';
	font-size: 16px;
}


/*Responsive contraseña*/
@media screen and (max-width: 800px) {
	.formularioLogin{
		margin-left: 0px;
		margin-right: 0px;
		margin-top: 15px;
		width: 100%;
	}
	.contraseña{
		margin-bottom: 5px;
		font-family: 'Verdana';
		font-size: 12px;
		font-weight: bold;
		margin-top: 6px;
	}
	.txtContraseña{
		width: 100%;
		font-family: 'Verdana';
		font-size: 12px;
	}
}


/*Mensaje de error de inicio*/
.mensaje{
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

/*Responsive del mensaje*/
@media screen and (max-width: 800px) {
	.mensaje{
		font-size: 16px;
		font-family: 'Verdana';
	}
}


/*Botón de Login*/
.botonera{
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	height: 50px;
	width: 20%;
}

.botonLogin{
	margin-left: auto;
	margin-right: auto;
	background-color: #0d6efd;
	color: #EFEFEF;
	height: 100%;
	font-family: 'Verdana';
	font-size: 16px;
	font-weight: bold;
	letter-spacing: 1px;
	line-height: 20px;
}

/*Responsive del boton iniciar sesion*/
@media screen and (max-width: 800px) {
	/*Botón de Login*/
	.botonera{
		margin-top: 20px;
		margin-bottom: 20px;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		height: 45px;
		width: 50%;
	}

	.botonLogin{
		margin-left: auto;
		margin-right: auto;
		background-color: #0d6efd;
		color: #EFEFEF;
		height: 100%;
		font-family: 'Verdana';
		font-size: 12px;
		font-weight: bold;
		letter-spacing: 1px;
		line-height: 15px;
	}
}


/*Texto no tienes cuenta?*/

.txtCrear{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-top: 30px;
	margin-bottom: 50px;
	font-family: 'Verdana';
	font-size: 16px;
}

.txtCrear a{
	text-decoration: none;
}

.txtCrear a:hover{
	text-decoration: underline;
}

/*Responsive del Texto no tienes cuenta*/
@media screen and (max-width: 800px) {
	.txtCrear{
		width: 50%;
	}
}